@page "/todos"

@namespace bjorkvalle.client.Features.Todos
@inject IMediator Mediator

<Heading Size="HeadingSize.H1">Todos</Heading>

<ul>
    <Loop TItem="TodoModel" Items="items" Context="item">
        <li class="flex gap-2 py-1" title="@item.Id">
            <span>@item.Title - @item.Completed</span>
            <Button Clicked="(() => DeleteTodo(item.Id))" Size="ButtonSize.Tiny" Color="ButtonColor.Error">X</Button>
        </li>
    </Loop>
</ul>

@code {
    private List<TodoModel> items;

    protected async override Task OnInitializedAsync()
    {
        items = await Mediator.Send(new GetTodosQuery());
    }

    private async Task DeleteTodo(int id)
    {
        await Mediator.Send(new DeleteTodoCommand(id));
        items = await Mediator.Send(new GetTodosQuery());
    }
}
