@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@namespace bjorkvalle.client.Features
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a class="btn btn-xs" href="#" @onclick="BeginLogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-xs btn-primary" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}