@page "/henric-christmas-2022"

<div class="flex flex-col items-center">
    <Card class="bg-base-100 shadow-xl swap-off">
        <figure class="px-10 pt-10">
            <img src="./images/gifts/henric_jul_2022_alt.png" alt="Shoes" class="rounded-xl max-h-80" />
        </figure>
        <CardBody>
            <div class="flex flex-col justify-center items-start md:items-center">
                <Heading Size="HeadingSize.H1">God jul, Henric och Hanna!</Heading>
                <Paragraph>Vi ska guida runt er på en stadstur i Göteborg!</Paragraph>
            </div>
        </CardBody>
    </Card>
</div>