@page "/"

@if (!IsValid)
{
    <input type="text" @bind-value="enteredKey" @bind-value:event="oninput" />
}
else
{
    <List ListStyleType="ListStyleTypes.Bullets" class="mt-0">
        <li><NavLink href="andreea-nameday-2022">Andreea namnsdag 2022</NavLink></li>
        <li><NavLink href="andreea-christmas-2022">Andreea jul 2022</NavLink></li>
        <li><NavLink href="mama-christmas-2022">Mamma jul 2022</NavLink></li>
        <li><NavLink href="henric-christmas-2022">Henric jul 2022</NavLink></li>
    </List>
}

@code {
    private string key = "gröt", enteredKey;

    public bool IsValid
    {
        get
        {
#if DEBUG
    return true;
#else
            return key?.Equals(enteredKey, StringComparison.OrdinalIgnoreCase) ?? false;
#endif
        }
    }
}