@namespace bjorkvalle.UI.Components
@inject NavigationManager NavigationManager
@*@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider;*@

<div class="container mx-auto md:pt-4 md:mb-4 md:px-4 2xl:px-0">
    <nav class="navbar bg-base-100 text-base-content shadow md:rounded-box">
        <div class="flex-none">
            <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
            @*<button class="btn btn-square btn-ghost">
            </button>*@
        </div>
        <div class="flex-1">
            <NavLink href="/" class="normal-case text-xl font-extrabold text-primary">POLLEY</NavLink>
            @*<a href="/orders" class="btn btn-ghost normal-case text-xl">
                <img src="/img/headwear-logo.svg" class="h-[inherit] invert" />
            </a>*@
        </div>
        <div class="flex-none gap-2">
            @*<AuthorizeView>
                <Authorized>*@
                    <ul class="menu menu-horizontal p-0 hidden lg:flex">
                        @*<li><a href="/orders">Orders</a></li>*@
                        @*<AuthorizeView Roles="@nameof(UserRoles.Headwear)" Context="headwear">*@
                            @*<li><a href="/users">Users</a></li>*@
                        @*</AuthorizeView>*@
                    </ul>
                    <Tooltip Text="Logout" Color="Color.Info" Position="Position.Bottom">
                        <Button class="btn btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                        </Button>
                    </Tooltip>
                @*</Authorized>
            </AuthorizeView>*@

        </div>
    </nav>
</div>

@*@code {
    private string role;

#if DEBUG
    protected override void OnInitialized()
    {
    NavigationManager.LocationChanged += LocationChanged;

    }
    private async void LocationChanged(object sender, LocationChangedEventArgs e)
    {
    var result = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    role = result?.User?.Claims.FirstOrDefault(x => x.Type.Equals(System.Security.Claims.ClaimTypes.Role))?.Value;
    StateHasChanged();
    }
    public void Dispose() => NavigationManager.LocationChanged -= LocationChanged;
#endif

    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        NavigationManager.NavigateTo("authentication/logout");
    }
}*@