@page "/andreea-christmas-2022"

<div class="flex flex-col items-center">
    <Card class="bg-base-100 shadow-xl swap-off">
        <figure class="px-10 pt-10">
            <img src="./images/fredrikandersson_standup.jpg" alt="Shoes" class="rounded-xl max-h-80" />
        </figure>
        <CardBody>
            <div class="flex flex-col justify-center items-start md:items-center">
                <Heading Size="HeadingSize.H1">God jul, bunny tummy!</Heading>
                <Paragraph>Vi ska på standup och se Fredrik Andersson på Stora Teatern!*</Paragraph>
            </div>
            <CardActions Justify="Justify.None" class="justify-start md:justify-center mb-4">
                <a class="btn btn-primary gap-2" href="https://storateatern.se/sv/program/fredrik-andersson/?date=2304280800" target="_blank">
                    Detaljer
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
                    </svg>
                </a>
            </CardActions>
            <small class="text-accent absolute right-0 bottom-0 p-1">*Nej, du vet inte vem det är ;)</small>
        </CardBody>
    </Card>
</div>